<div class="container">

  <div class="component-toolbar">

    <span>Processo</span>

    <div class="preenchimento"></div>

    <button mat-stroked-button (click)="novoProcesso()" class="toolbar-btn">
      Novo
    </button>
  </div>

  <div class="content">
    <div class="processo-content">
      <app-lista-processo 
        class="flex-grow-0-5 margin-right-12px" 
        (processoSelectedChange)="selected = $event">
      </app-lista-processo>
      
      <app-detalhe-processo 
        [processo]="selected" 
        class="flex-grow-1 margin-left-12px">
      </app-detalhe-processo>
    </div>
  </div>

</div>