<div class="container">

  <div class="component-toolbar">

    <span>Processo</span>

    <div class="preenchimento"></div>

    <button mat-stroked-button (click)="novoProcesso()" class="toolbar-btn">
      Novo processo
    </button>

    <button mat-stroked-button 
      [disabled]="buttonMovimentarProcesssoDisabled()" 
      (click)="movimentarProcesso()"
      class="toolbar-btn">
        Movimentar processo
    </button>

  </div>

  <div class="content">
    <div class="processo-content">
      <app-lista-processo class="flex-grow-0-5"></app-lista-processo>
      <app-detalhe-processo class="flex-grow-1"></app-detalhe-processo>
    </div>
  </div>

</div>