/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
    box-shadow: 0px 5px 5px 0px lightgray;
}

.container {
    
    margin: 12px;

    .component-toolbar {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 5px 5px 0px lightgray;
        align-items: center;
        background-color: #eeeeee;
        padding: 8px 8px;
    
        .toolbar-form {
            font: 500 12px/32px Roboto, "Helvetica Neue", sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            flex-grow: 1;

            mat-form-field {
                padding-right: 8px;
            }
        }
    
        button.toolbar-btn {
            background: white;
            margin-left: 8px;
        }
    
    }

    .content {
        margin-top: 12px;
    }

}

.preenchimento {
    flex-grow: 1;
}

.width-10-pc {
    width: 10%;
}

.width-30-pc {
    width: 30%;
}

table {
    width: 100%;

    .table-row-selected{
        background-color: #eeeeee;
    }
}